*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.central{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.central{
    background-color: rgb(215, 165, 255);
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 50px rgb(182, 7, 252);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-top: 1em;
    font-size: 18px;
    align-self: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

input{
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 60px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(182, 7, 252)
}

h1{
    margin-top: 1em;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    
}

h3{
    margin-top: 1em;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

button{
    margin-top: 1em;
    padding: 15px;
    font-size: 25px;
    margin: 5px;
    border-radius: 100px;
    width: 100%;
    border: none;
    width: 100%;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(3, 3, 3);
}
button:hover{
    background-color: rgb(162, 0, 255);
}

body{
    background-color:rgb(215, 165, 255)
}

